[submodule "src/net"]
	path = src/net
	url = https://github.com/ryjen/net
[submodule "src/format"]
	path = src/format
	url = https://github.com/ryjen/format
[submodule "src/dice"]
	path = src/dice
	url = https://github.com/ryjen/dice
[submodule "src/db"]
	path = src/db
	url = https://github.com/ryjen/db
[submodule "cmake"]
	path = cmake
	url = https://github.com/ryjen/cmake.git
