*~
*.log
*.tar.gz
.deps
stamp-h1
.libs
*.la
*.a
*.cache
*.o
*.lo
Makefile
libtool
*.pc
*.status
config.h
*.gcno
coverage.info
Testing
cmake_install.cmake
CTestTestfile.cmake
build
CMakeFiles
debug
release
*.bak
*.gch
