# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
bin
obj
*.make
Makefile
.deps
*~
*.cache
*.log
libtool
stamp-h1
.libs
*.status
config.h
*.gcno
coverage.info
build
debug
tags
